.search {
  margin-top: 20px;
}

.search-inner {
  position: relative;
}

.search-icon {
  position: absolute;
  top: 9px;
  left: 10px;
  font-size: 24px;
  color: var(--tg-theme-hint-color);
  width: 25px;
  height: 25px;
}

.search-input {
  min-width: 100%;
  padding: 12px 15px 12px 38px;
  background-color: var(--tg-theme-secondary-bg-color);
  border-radius: 8px;
  outline: none;
  border: none;
  color: gray;
  font-size: 18px;
  transition: background-color 0.5s ease;
}

.search-input:focus {
  outline: 1px solid #286f91;
}

.search-input::placeholder {
  color: gray;
}
